################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiConsumerMultiProducer/.vs/MultiConsumerMultiProducer/v15
/MultiConsumerMultiProducer/MultiConsumerMultiProducer/Debug
/MultiConsumerMultiProducer/Debug
/MultiConsumerMultiProducer/MultiConsumerMultiProducer/x64/Debug
/MultiConsumerMultiProducer/x64/Debug
